@font-face {
    font-family: 'Input Mono';
    src: url('FanwoodText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fanwood Text';
    src: url('FanwoodText-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
