@font-face {
    font-family: 'Input Mono';
    font-style: normal;
    font-weight: 400;
    src: url('Input-Regular_(InputMono-Regular).ttf');

}

@font-face {
    font-family: 'Input Mono';
    font-style: italic;
    font-weight: 400;
    src: url('Input-Italic_(InputMono-Italic).ttf');

}

@font-face {
    font-family: 'Input Mono';
    font-style: normal;
    font-weight: 700;
    src: url('Input-Bold_(InputMono-Bold).ttf');

}

@font-face {
    font-family: 'Input Mono';
    font-style: italic;
    font-weight: 700;
    src: url('Input-BoldItalic_(InputMono-BoldItalic).ttf');
}
