@font-face {
    font-family: 'Triplicate Code';
    src: url('Triplicate Code T4 Regular.ttf') format('truetype'),
         url('triplicate_t4_code_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Triplicate Code';
    src: url('Triplicate Code T4 Bold.ttf') format('truetype'),
         url('triplicate_t4_code_bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Triplicate Code';
    src: url('Triplicate Code T4 Italic.ttf') format('truetype'),
         url('triplicate_t4_code_italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Triplicate Code';
    src: url('Triplicate Code T4 Bold Italic.ttf') format('truetype'),
         url('triplicate_t4_code_bold_italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
